<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.roses.kernel.group.modular.mapper.SysGroupMapper">

    <select id="getUserGroupList" resultType="cn.stylefeng.roses.kernel.group.api.pojo.SysGroupDTO">
        select group_name, group_id, group_biz_code, business_id, user_id
        from sys_group
        where user_id = #{userId}
        and group_biz_code = #{groupBizCode}
        <if test="getTotal != null and getTotal == false">
            group by group_name
        </if>
    </select>

</mapper>
